.scrollbar::-webkit-scrollbar{
  width: 10px;
}
.scrollbar::-webkit-scrollbar-track{
  @apply bg-custom-gray1 
}
.scrollbar::-webkit-scrollbar-thumb{
  @apply bg-custom-gray1 rounded-full
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-color: #24292e !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    /* transition: background-color 5000s ease-in-out 0s; */
    box-shadow: inset 0 0 20px 20px #24292e;
}